<div class="habit-farm-container">
    <img src="assets\grass.png" class="bg-img">
    <div class="side-menu">
        <!-- Add Habit button -->
        <button class="add-habit-btn" (click)="togglePopup()">+</button>
        <!-- Icons for existing habits -->
        <div class="habit-shelves" (dragover)="onDragOver($event)" (dragenter)="onDragEnter($event)">
            
            <div class="shelf">
                <div *ngFor="let habit of habits" class="habit-card" draggable="true" 
           (dragstart)="onDragStart($event, habit)">
                    <img [src]="habit.iconUrl" class="habit-icon">
                    <p class="habit-name">{{ habit.name }}</p>
                    <p class="habit-time">{{ habit.hours }}h {{ habit.minutes }}m</p>
                </div>
            </div>
        </div>
        <!-- Trash bin for deleting habits -->
        <div class="trash-bin" (dragover)="onDragOver($event)" (drop)="onDrop($event)">
            <img src="assets\trash can.jpg" class="trash-icon">
            <p>Drop here to delete</p>
        </div>
    </div>
    <div class="plots-section">
        <div class="plot" *ngFor="let plot of plots"[style.background-image]="'url(' + plot.imageUrl + ')'" [style.background-size]="'cover'" [style.background-position]="'center'" (dragover)="onDragOver($event)" (dragenter)="onDragEnter($event)">
           
            <div class="plot-container" (drop)="onDropHabit($event, plot)">
                <div class="plot-content" *ngIf="plot.habit">
                    <div class="habit-card-floating">
                        <img [src]="plot.habit.iconUrl" class="habit-icon">
                        <p class="habit-name">{{ plot.habit.name }}</p>
                        <p class="habit-time">{{ plot.timeLeft }}</p>
                    </div>
                    <p class="time-left"></p> 
                </div>
                <div class="plot-empty" *ngIf="!plot.habit" (dragenter)="onDragEnter($event)">
                    
                  </div>
            </div>
        </div>
    </div>
    <!-- Popup menu -->
</div>  
    <div class="popup-menu" *ngIf="showPopup">
        <div class="add-form">
            <div class="form-group">
                <label for="habitName">Habit Name:</label>
                <input type="text" id="habitName" class="form-control" [(ngModel)]="newHabit.name" required maxlength="50">
                <div class="text-danger" *ngIf="newHabit.name.length === 0">Name is required.</div>
                <div class="text-danger" *ngIf="newHabit.name.length > 50">Name must be less than 50 characters.</div>
            </div>
            <div class="form-group">
                <label for="habitHours">Harvest Hours:</label>
                <input type="number" id="habitHours" class="form-control" [(ngModel)]="newHabit.hours" required min="0">
                <div class="text-danger" *ngIf="newHabit.hours === null || newHabit.hours < 0">Hours must be a positive number.</div>
            </div>
            <div class="form-group">
                <label for="habitMinutes">Harvest Minutes:</label>
                <input type="number" id="habitMinutes" class="form-control" [(ngModel)]="newHabit.minutes" required min="0">
                <div class="text-danger" *ngIf="newHabit.minutes === null || newHabit.minutes < 1">Minutes must be at least 1.</div>
            </div>
        </div>
        
        <div class="popup-content">
            <div class="icon-selection">
                <label for="habitIcon">Select Icon:</label>
                <div class="icon-table">
                    <div class="icon-grid">
                        <div *ngFor="let icon of iconOptions" class="icon-option" (click)="selectIcon(icon.value)">
                            <img [src]="icon.url" alt="Icon" [class.selected]="icon.value === newHabit.icon">
                        </div>
                    </div>
                </div>
            </div>            
            <div class="btn-group">
                <button class="btn btn-primary" (click)="addHabit()" [disabled]="!newHabitForm.invalid">Add Habit</button>
                <button class="btn btn-danger" (click)="cancelAdd()">Cancel</button>
            </div>
        </div>
    </div>


