/* habit-farm.component.css */
.bg-img {
    position: fixed; /* Đảm bảo background ảnh cố định và nằm phía sau */
    z-index: -1; /* Đặt z-index nhỏ hơn để nằm phía sau các phần tử khác */
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
  }
.habit-farm-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}



.side-menu {
    width: 28%; /* 2/7 of the remaining screen */
    background-color: #8b5a2b; /* Màu nâu đồng quê */
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    left: 10px;
    text-align: right;
    position: fixed; /* Đảm bảo menu cố định trên màn hình */
  left: 0; /* Đẩy menu về bên trái */
  top: 0; /* Đẩy menu lên trên cùng */
  width: 350px; /* Độ rộng của menu (thay đổi theo nhu cầu) */
  height: 100%; /* Chiều cao của menu (thay đổi theo nhu cầu) */
  padding: 20px; /* Khoảng cách nội dung từ viền của menu */
  box-sizing: border-box; /* Đảm bảo padding không làm thay đổi kích thước của menu */
}

.add-habit-btn {
    font-size: 24px;
    width: 300px;
    height: 70px;
    background-color: #f7be02; /* Màu nền nút '+' */
    color: #8b5a2b; /* Màu chữ */
    border: none; /* Hình tròn */
    cursor: pointer;
    margin-bottom: 10px;
    align-self: center; /* Đưa nút '+' vào giữa */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Đổ bóng */
}

.add-habit-btn:hover {
    background-color: #ed9417; /* Màu hover */
}

.existing-habits {
    display: flex;
    flex-wrap: wrap; /* Cho phép các item tự động xuống dòng khi không đủ chỗ */
    gap: 10px; /* Khoảng cách giữa các icon */
}
/* habit-farm.component.css */

.popup-menu {
    position: absolute;
    background-color: #f0f0f0;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 1;
    top: 50px; /* Dịch chuyển lên xuống tùy theo vị trí cần thiết */
    left: calc(100% - 220px); /* Dịch chuyển sang phải */
    display: none; /* Ẩn ban đầu */
}

.popup-menu.active {
    display: block; /* Hiển thị khi active */
}

.habit-icon {
    flex: 0 0 calc(33% - 10px); /* Chiếm 1/3 phần tử trong flex container, trừ đi khoảng cách giữa các icon */
    max-width: calc(33% - 10px); /* Đảm bảo icon không vượt quá 1/3 chiều rộng */
    height: 90px; /* Chiều cao tự động điều chỉnh theo tỉ lệ */
    border: 2px solid #f0f0f0; /* Viền */
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Đổ bóng */
}


.trash-bin {
    border: 2px dashed #333;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    margin-top: auto; /* Đẩy thùng rác xuống dưới cùng */
}

.trash-icon {
    width: 30px;
    height: 30px;
    margin-bottom: 5px;
}
